nav .navbar-nav .nav-item .nav-link {
    position: relative;
    margin: 0px 20px;
    padding: 8px 0px ;
   
  }
  
  nav .navbar-nav .nav-item .nav-link:hover{
     color: #71cd14;
     
  }
  
  nav .navbar-nav .nav-item .nav-link.active{
    color: #71cd14;
  }
  
  nav .cart a i , nav .wishlist a i{
    color: rgb(48, 43, 43);
  }
  
  nav ul.search_dropdown {
    margin-left: 50px;
    padding-left: 10px;
    width: 300px;
  }
  nav .username a{
    text-decoration: none;
    color: #71cd14;
  }
  nav .auth{
    margin-left: 20px;
  }
  
  nav .auth a {
  text-decoration: none;
  margin: 8px;
  color: rgb(95, 95, 95);
  transition: 0.3s;
  
  }
  nav .cart a i , nav .wishlist a i {
    transition: all 0.3s;
  }
  nav .cart a i{
    margin-left: 15px;
  }
  nav .wishlist a i{
    margin-left: 5px;
  }
  
  nav .auth a:hover , nav .wishlist a i:hover, nav .cart a i:hover{
    color: #71cd14;
  }
/* ________________end nav__________________   */



/* --------------start log in--------- */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #f7f8f7 10%, rgba(18, 153, 0, 0.4) 90%) no-repeat
}

.wrapper {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    color: #71cd14; }

.h4 {
    font-family: 'Poppins', sans-serif
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1c1349;;
    color:#182957;
}

.input-field:hover {
    color:#71cd14;
    border: 1px soli #71cd14;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a{
color: #71cd14;
text-decoration: none;
}




a:hover {
    text-decoration: none;
    color:#71cd14;
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.option label.text-muted {
    display: block;
    cursor: pointer
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer
}

.option input:checked~.checkmark:after {
    display: block
}

.option .checkmark:after {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    background:#71cd14;
    position: absolute;
    top: 48%;
    left: 53%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid #71cd14;
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
    border-radius: 20px;
    background-color:#71cd14;
    color: #fff
}

.btn.btn-block:hover {
    background-color:#71cd14;
}

@media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }

    .option {
        position: relative;
        padding-left: 22px
    }

    .option label.text-muted {
        font-size: 0.95rem
    }

    .checkmark {
        position: absolute;
        top: 2px
    }

    .option .checkmark:after {
        top: 50%
    }

    #forgot {
        font-size: 0.95rem
    }
}